<!DOCTYPE html>
<html lang="en">
<head>
<title>E-News</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Demo project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap4/bootstrap.min.css">
<link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="/plugins/jquery.mb.YTPlayer-3.1.12/jquery.mb.YTPlayer.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/main_styles.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css">
</head>
<body>

<div class="super_container">

	<!-- Header -->

	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-start">
						<div id="demo" class="logo"><a href="/">E-News</a></div>
						<nav class="main_nav">
							<ul>
								<li class="active"><a href="/">Home</a></li>
								<li><a href="/latest">Latest</a></li>
								<li><a href="/business">Business</a></li>
								<li><a href="/world">World</a></li>
								<li><a href="/sports">Sports</a></li>
								<li><a href="/entertainment">Entertainment</a></li>
								<li><a href="/studentcorner">Student Corner</a></li>
							</ul>


			</nav>
						<div class="search_container ml-auto">
							<form action="/search">
								<input type="search" class="header_search_input" required="required" placeholder="Type to Search...">
								<img class="header_search_icon" src="/images/search.png" alt="">
							</form>

						</div>
						<div class="hamburger ml-auto menu_mm">
							<i class="fa fa-bars trans_200 menu_mm" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Menu -->

	<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
		<div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
		<div class="logo menu_mm"><a href="#">E-News</a></div>
		<div class="search">
			<form action="#">
				<input type="search" class="header_search_input menu_mm" required="required" placeholder="Type to Search...">
				<img class="header_search_icon menu_mm" src="/images/search_2.png" alt="">
			</form>
		</div>
		<nav class="menu_nav">
			<ul class="menu_mm">
				<li class="active"><a href="/">Home</a></li>
				<li><a href="/latest">Latest</a></li>
				<li><a href="/sports">Sports</a></li>
				<li><a href="/entertainment">Entertainment</a></li>
				<li><a href="/studentcorner">Student Corner</a></li>
			</ul>
		</nav>
	</div>

	<!-- Home -->

	<div class="home">

		<!-- Home Slider -->

		<div class="home_slider_container">
			<div class="owl-carousel owl-theme home_slider">

				<!-- Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background" style="background-image:url(https://source.unsplash.com/1920x1080/?turkey"></div>
					<div class="home_slider_content_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_slider_content">
										<div class="home_slider_item_category trans_200"><a href="./world" class="trans_200">World</a></div>
										<div class="home_slider_item_title">
											<a href=""><%= world[1].title %></a>
										</div>
										<div class="home_slider_item_link">
											<a href="world/<%= world[1]._id %>" class="trans_200">Continue Reading
												<svg version="1.1" id="link_arrow_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
													 width="19px" height="13px" viewBox="0 0 19 13" enable-background="new 0 0 19 13" xml:space="preserve">
													<polygon fill="#FFFFFF" points="12.475,0 11.061,0 17.081,6.021 0,6.021 0,7.021 17.038,7.021 11.06,13 12.474,13 18.974,6.5 "/>
												</svg>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				<!-- Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background" style="background-image:url(https://source.unsplash.com/1920x1080/?education"></div>
					<div class="home_slider_content_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_slider_content">
										<div class="home_slider_item_category trans_200"><a href="./education" class="trans_200">Education</a></div>
										<div class="home_slider_item_title">
											<a href=""><%= education[1].title %></a>
										</div>
										<div class="home_slider_item_link">
											<a href="world/<%= education[1]._id %>" class="trans_200">Continue Reading
												<svg version="1.1" id="link_arrow_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
													 width="19px" height="13px" viewBox="0 0 19 13" enable-background="new 0 0 19 13" xml:space="preserve">
													<polygon fill="#FFFFFF" points="12.475,0 11.061,0 17.081,6.021 0,6.021 0,7.021 17.038,7.021 11.06,13 12.474,13 18.974,6.5 "/>
												</svg>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

			<div class="custom_nav_container home_slider_nav_container">
				<div class="custom_prev custom_prev_home_slider">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
						<polyline fill="#FFFFFF" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 "/>
					</svg>
				</div>
		        <ul id="custom_dots" class="custom_dots custom_dots_home_slider">
					<li class="custom_dot custom_dot_home_slider active"><span></span></li>
					<li class="custom_dot custom_dot_home_slider"><span></span></li>
					<li class="custom_dot custom_dot_home_slider"><span></span></li>
				</ul>
				<div class="custom_next custom_next_home_slider">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
						<polyline fill="#FFFFFF" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 "/>
					</svg>
				</div>
			</div>

		</div>
	</div>

	<!-- Page Content -->

	<div class="page_content">
		<div class="container">
			<div class="row row-lg-eq-height">

				<!-- Main Content -->

				<div class="col-lg-9">
					<div class="main_content">


						<!-- Blog Section - What's Trending -->

						<div class="blog_section">
							<div class="section_panel d-flex flex-row align-items-center justify-content-start">
								<div class="section_title">What's Trending</div>
							</div>
							<div class="section_content">
								<div class="grid clearfix">
																		<% var count =0; %>
									                  <% for(let i = 0; i < 5; i++) { %>
																			<% switch (count) {
																					case 0 : %>
																					<div class="card card_small_with_image grid-item">
																						<img class="card-img-top" src="<%= trendings[i].ilink %>" alt="">
																						<div class="card-body">
																							<div class="card-title card-title-small"><a href="/<%= category %>/<%= trendings[i].id %>"><%= trendings[i].title %></a></div>

																						</div>
																					</div>
																					<%count++; %>
																									<% break;

																					case 1 : %>
																					<div class="card card_small_with_image grid-item">
																						<img class="card-img-top" src="<%= trendings[i].ilink %>" alt="">
																						<div class="card-body">
																							<div class="card-title card-title-small"><a href="/<%= category %>/<%= trendings[i].id %>"><%= trendings[i].title %></a></div>

																						</div>
																					</div>
																					<% count++; %>
																									<% break;

																					case 2 : %>
																					<div class="card card_largest_with_image grid-item">
																						<img class="card-img-top" src= "<%= trendings[i].ilink %>" alt="https://unsplash.com/@cjtagupa">
																						<div class="card-body">
																							<div class="card-title"><a href="/<%= category %>/<%= trendings[i].id %>"><%= trendings[i].title %></a></div>
																							<p class="card-text"><%= trendings[i].discription %></p>

																						</div>
																					</div>
																					<%count++; %>
																									<% break;
																					case 3 : %>
																					<div class="card card_small_with_image grid-item">
																						<img class="card-img-top" src="<%= trendings[i].ilink %>" alt="">
																						<div class="card-body">
																							<div class="card-title card-title-small"><a href="/<%= category %>/<%= trendings[i].id %>"><%= trendings[i].title %></a></div>

																						</div>
																					</div>
																					<%var count=1; %>
																									<% break;

																		} %>







									                  <!-- Largest Card With Image -->





									                    <% } %>


                  <!-- Largest Card With Image -->


                  <!-- Default Card No Image -->

                  <div class="card card_default card_default_no_image grid-item">
                    <div class="card-body">
                    </div>
                  </div>




								</div>

							</div>
						</div>

						<!-- section - Sports -->

				  	<div class="blog_section">
													<div class="section_panel d-flex flex-row align-items-center justify-content-start">
														<div class="section_title">What's in Sports</div>
													</div>
													<div class="section_content">
														<div class="grid clearfix">
																								<% var count =0; %>
															                  <% for(let i = 0; i < 5; i++) { %>
																									<% switch (count) {
																											case 0 : %>
																											<div class="card card_small_with_image grid-item">
																												<img class="card-img-top" src="<%= sport[i].ilink %>" alt="">
																												<div class="card-body">
																													<div class="card-title card-title-small"><a href="/sports/<%= sport[i].id %>"><%= sport[i].title %></a></div>

																												</div>
																											</div>
																											<%count++; %>
																															<% break;

																											case 1 : %>
																											<div class="card card_small_with_image grid-item">
																												<img class="card-img-top" src="<%= sport[i].ilink %>" alt="">
																												<div class="card-body">
																													<div class="card-title card-title-small"><a href="/sports/<%= sport[i].id %>"><%= sport[i].title %></a></div>

																												</div>
																											</div>
																											<% count++; %>
																															<% break;

																											case 2 : %>
																											<div class="card card_largest_with_image grid-item">
																												<img class="card-img-top" src= "<%= sport[i].ilink %>" alt="https://unsplash.com/@cjtagupa">
																												<div class="card-body">
																													<div class="card-title"><a href="/sports/<%= sport[i].id %>"><%= trendings[i].title %></a></div>
																													<p class="card-text"><%= sport[i].discription %></p>

																												</div>
																											</div>
																											<%count++; %>
																															<% break;
																											case 3 : %>
																											<div class="card card_small_with_image grid-item">
																												<img class="card-img-top" src="<%= sport[i].ilink %>" alt="">
																												<div class="card-body">
																													<div class="card-title card-title-small"><a href="/<%= category %>/<%= sport[i].id %>"><%= sport[i].title %></a></div>

																												</div>
																											</div>
																											<%var count=1; %>
																															<% break;

																								} %>







															                  <!-- Largest Card With Image -->





															                    <% } %>


						                  <!-- Largest Card With Image -->


						                  <!-- Default Card No Image -->

						                  <div class="card card_default card_default_no_image grid-item">
						                    <div class="card-body">
						                    </div>
						                  </div>




														</div>

													</div>
												</div>
						<!-- Section Bussiness  -->
						<div class="blog_section">
													<div class="section_panel d-flex flex-row align-items-center justify-content-start">
														<div class="section_title">What's in Business</div>
													</div>
													<div class="section_content">
														<div class="grid clearfix">
																								<% var count =0; %>
																								<% for(let i = 0; i < 5; i++) { %>
																									<% switch (count) {
																											case 0 : %>
																											<div class="card card_small_with_image grid-item">
																												<img class="card-img-top" src="<%= business[i].ilink %>" alt="">
																												<div class="card-body">
																													<div class="card-title card-title-small"><a href="/<%= category %>/<%= business[i].id %>"><%= business[i].title %></a></div>

																												</div>
																											</div>
																											<%count++; %>
																															<% break;

																											case 1 : %>
																											<div class="card card_small_with_image grid-item">
																												<img class="card-img-top" src="<%= business[i].ilink %>" alt="">
																												<div class="card-body">
																													<div class="card-title card-title-small"><a href="/<%= category %>/<%= business[i].id %>"><%= business[i].title %></a></div>

																												</div>
																											</div>
																											<% count++; %>
																															<% break;

																											case 2 : %>
																											<div class="card card_largest_with_image grid-item">
																												<img class="card-img-top" src= "<%= business[i].ilink %>" alt="https://unsplash.com/@cjtagupa">
																												<div class="card-body">
																													<div class="card-title"><a href="/<%= category %>/<%= business[i].id %>"><%= business[i].title %></a></div>
																													<p class="card-text"><%= business[i].discription %></p>

																												</div>
																											</div>
																											<%count++; %>
																															<% break;
																											case 3 : %>
																											<div class="card card_small_with_image grid-item">
																												<img class="card-img-top" src="<%= business[i].ilink %>" alt="">
																												<div class="card-body">
																													<div class="card-title card-title-small"><a href="/<%= category %>/<%= business[i].id %>"><%= trendings[i].title %></a></div>

																												</div>
																											</div>
																											<%var count=1; %>
																															<% break;

																								} %>







																								<!-- Largest Card With Image -->





																									<% } %>


															<!-- Largest Card With Image -->


															<!-- Default Card No Image -->

															<div class="card card_default card_default_no_image grid-item">
																<div class="card-body">
																</div>
															</div>




														</div>

													</div>
												</div>
						<!-- Section  World -->
						<div class="blog_section">
													<div class="section_panel d-flex flex-row align-items-center justify-content-start">
														<div class="section_title">What's in World</div>
													</div>
													<div class="section_content">
														<div class="grid clearfix">
																								<% var count =0; %>
																								<% for(let i = 0; i < 5; i++) { %>
																									<% switch (count) {
																											case 0 : %>
																											<div class="card card_small_with_image grid-item">
																												<img class="card-img-top" src="<%= world[i].ilink %>" alt="">
																												<div class="card-body">
																													<div class="card-title card-title-small"><a href="/world/<%= world[i].id %>"><%= world[i].title %></a></div>

																												</div>
																											</div>
																											<%count++; %>
																															<% break;

																											case 1 : %>
																											<div class="card card_small_with_image grid-item">
																												<img class="card-img-top" src="<%= world[i].ilink %>" alt="">
																												<div class="card-body">
																													<div class="card-title card-title-small"><a href="/world/<%= world[i].id %>"><%= world[i].title %></a></div>

																												</div>
																											</div>
																											<% count++; %>
																															<% break;

																											case 2 : %>
																											<div class="card card_largest_with_image grid-item">
																												<img class="card-img-top" src= "<%= world[i].ilink %>" alt="https://unsplash.com/@cjtagupa">
																												<div class="card-body">
																													<div class="card-title"><a href="/world/<%= world[i].id %>"><%= world[i].title %></a></div>
																													<p class="card-text"><%= world[i].discription %></p>

																												</div>
																											</div>
																											<%count++; %>
																															<% break;
																											case 3 : %>
																											<div class="card card_small_with_image grid-item">
																												<img class="card-img-top" src="<%= world[i].ilink %>" alt="">
																												<div class="card-body">
																													<div class="card-title card-title-small"><a href="/world>/<%= world[i].id %>"><%= trendings[i].title %></a></div>

																												</div>
																											</div>
																											<%var count=1; %>
																															<% break;

																								} %>







																								<!-- Largest Card With Image -->





																									<% } %>


															<!-- Largest Card With Image -->


															<!-- Default Card No Image -->

															<div class="card card_default card_default_no_image grid-item">
																<div class="card-body">
																</div>
															</div>




														</div>

													</div>
												</div>
						<!--section Entertainment  -->
						<div class="blog_section">
													<div class="section_panel d-flex flex-row align-items-center justify-content-start">
														<div class="section_title">What's in Entertainment</div>
													</div>
													<div class="section_content">
														<div class="grid clearfix">
																								<% var count =0; %>
																								<% for(let i = 0; i < 5; i++) { %>
																									<% switch (count) {
																											case 0 : %>
																											<div class="card card_small_with_image grid-item">
																												<img class="card-img-top" src="<%= entertainment[i].ilink %>" alt="">
																												<div class="card-body">
																													<div class="card-title card-title-small"><a href="/entertainment/<%= entertainment[i].id %>"><%= entertainment[i].title %></a></div>

																												</div>
																											</div>
																											<%count++; %>
																															<% break;

																											case 1 : %>
																											<div class="card card_small_with_image grid-item">
																												<img class="card-img-top" src="<%= entertainment[i].ilink %>" alt="">
																												<div class="card-body">
																													<div class="card-title card-title-small"><a href="/entertainment/<%= entertainment[i].id %>"><%= entertainment[i].title %></a></div>

																												</div>
																											</div>
																											<% count++; %>
																															<% break;

																											case 2 : %>
																											<div class="card card_largest_with_image grid-item">
																												<img class="card-img-top" src= "<%= entertainment[i].ilink %>" alt="https://unsplash.com/@cjtagupa">
																												<div class="card-body">
																													<div class="card-title"><a href="/entertainment/<%= entertainment[i].id %>"><%= entertainment[i].title %></a></div>
																													<p class="card-text"><%= entertainment[i].discription %></p>

																												</div>
																											</div>
																											<%count++; %>
																															<% break;
																											case 3 : %>
																											<div class="card card_small_with_image grid-item">
																												<img class="card-img-top" src="<%= entertainment[i].ilink %>" alt="">
																												<div class="card-body">
																													<div class="card-title card-title-small"><a href="/entertainment/<%= entertainment[i].id %>"><%= entertainment[i].title %></a></div>

																												</div>
																											</div>
																											<%var count=1; %>
																															<% break;

																								} %>







																								<!-- Largest Card With Image -->





																									<% } %>


															<!-- Largest Card With Image -->


															<!-- Default Card No Image -->

															<div class="card card_default card_default_no_image grid-item">
																<div class="card-body">
																</div>
															</div>




														</div>

													</div>
												</div>

						<!--section Student Corner  -->
						<div class="blog_section">
													<div class="section_panel d-flex flex-row align-items-center justify-content-start">
														<div class="section_title">What's in Education</div>
													</div>
													<div class="section_content">
														<div class="grid clearfix">
																								<% var count =0; %>
																								<% for(let i = 0; i < 5; i++) { %>
																									<% switch (count) {
																											case 0 : %>
																											<div class="card card_small_with_image grid-item">
																												<img class="card-img-top" src="<%= education[i].ilink %>" alt="">
																												<div class="card-body">
																													<div class="card-title card-title-small"><a href="/studentcorner/<%= education[i].id %>"><%= education[i].title %></a></div>

																												</div>
																											</div>
																											<%count++; %>
																															<% break;

																											case 1 : %>
																											<div class="card card_small_with_image grid-item">
																												<img class="card-img-top" src="<%= education[i].ilink %>" alt="">
																												<div class="card-body">
																													<div class="card-title card-title-small"><a href="/studentcorner//<%= education[i].id %>"><%= education[i].title %></a></div>

																												</div>
																											</div>
																											<% count++; %>
																															<% break;

																											case 2 : %>
																											<div class="card card_largest_with_image grid-item">
																												<img class="card-img-top" src= "<%= education[i].ilink %>" alt="https://unsplash.com/@cjtagupa">
																												<div class="card-body">
																													<div class="card-title"><a href="/studentcorner//<%= education[i].id %>"><%= education[i].title %></a></div>
																													<p class="card-text"><%= education[i].discription %></p>

																												</div>
																											</div>
																											<%count++; %>
																															<% break;
																											case 3 : %>
																											<div class="card card_small_with_image grid-item">
																												<img class="card-img-top" src="<%= education[i].ilink %>" alt="">
																												<div class="card-body">
																													<div class="card-title card-title-small"><a href="/studentcorner//<%= education[i].id %>"><%= education[i].title %></a></div>

																												</div>
																											</div>
																											<%var count=1; %>
																															<% break;

																								} %>







																								<!-- Largest Card With Image -->





																									<% } %>


															<!-- Largest Card With Image -->


															<!-- Default Card No Image -->

															<div class="card card_default card_default_no_image grid-item">
																<div class="card-body">
																</div>
															</div>




														</div>

													</div>
												</div>

						<!-- Blog Section - Videos -->


					</div>
				</div>

				<!-- Sidebar -->

				<div class="col-lg-3">
					<div class="sidebar">
						<div class="sidebar_background"></div>

						<!-- Top Stories -->

						<div class="sidebar_section">
							<div class="sidebar_title_container">
								<div class="sidebar_title">Top Stories</div>
								<div class="sidebar_slider_nav">
									<div class="custom_nav_container sidebar_slider_nav_container">
										<div class="custom_prev custom_prev_top">
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
												 width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
												<polyline fill="#bebebe" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 "/>
											</svg>
										</div>
								        <ul id="custom_dots" class="custom_dots custom_dots_top">
											<li class="custom_dot custom_dot_top active"><span></span></li>
											<li class="custom_dot custom_dot_top"><span></span></li>
											<li class="custom_dot custom_dot_top"><span></span></li>
										</ul>
										<div class="custom_next custom_next_top">
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
												 width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
												<polyline fill="#bebebe" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 "/>
											</svg>
										</div>
									</div>
								</div>
							</div>
							<div class="sidebar_section_content">

								<!-- Top Stories Slider -->
								<div class="sidebar_slider_container">
									<div class="owl-carousel owl-theme sidebar_slider_top">

										<!-- Top Stories Slider Item -->
										<div class="owl-item">
										<% for(let i = 0; i < 5; i++) { %>
											<!-- Sidebar Post -->
											<div class="side_post">
												<a href="<%= sport[i].newslink %>">
													<div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
														<div class="side_post_image"><div><img src="<%= sport[i].ilink %>" alt=""></div></div>
														<div class="side_post_content">
															<div class="side_post_title"></br><%= sport[i].title %></div>
															<small class="post_meta"> </small>
														</div>
													</div>
												</a>
											</div>
												<% } %>
											<!-- Sidebar Post -->
										</div>

										<!-- Top Stories Slider Item -->
										<div class="owl-item">
					    			<% for(let i = 0; i < 5; i++) { %>
											<!-- Sidebar Post -->
											<div class="side_post">
												<a href="<%= education[i].newslink %>">
													<div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
														<div class="side_post_image"><div><img src="<%= education[i].ilink %>" alt=""></div></div>
														<div class="side_post_content">
															<div class="side_post_title"></br><%= education[i].title %></div>
															<small class="post_meta"> </small>
														</div>
													</div>
												</a>
											</div>
												<% } %>
											<!-- Sidebar Post -->
										</div>


										<div class="owl-item">
					    			<% for(let i = 0; i < 5; i++) { %>
											<!-- Sidebar Post -->
											<div class="side_post">
												<a href="<%= entertainment[i].newslink %>">
													<div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
														<div class="side_post_image"><div><img src="<%= entertainment[i].ilink %>" alt=""></div></div>
														<div class="side_post_content">
															<div class="side_post_title"></br><%= entertainment[i].title %></div>
															<small class="post_meta"> </small>
														</div>
													</div>
												</a>
											</div>
												<% } %>
											<!-- Sidebar Post -->
										</div>


									</div>
								</div>
							</div>
						</div>



						<!-- Newest Videos -->

						<div class="sidebar_section newest_videos">
							<div class="sidebar_title_container">
								<div id="locationtest" class="sidebar_title">Location Based</div>
								<div class="sidebar_slider_nav">
									<div class="custom_nav_container sidebar_slider_nav_container">
										<div class="custom_prev custom_prev_vid">
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
												 width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
												<polyline fill="#bebebe" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 "/>
											</svg>
										</div>
								        <ul id="custom_dots" class="custom_dots custom_dots_vid">
											<li class="custom_dot custom_dot_vid active"><span></span></li>
											<li class="custom_dot custom_dot_vid"><span></span></li>
											<li class="custom_dot custom_dot_vid"><span></span></li>
										</ul>
										<div class="custom_next custom_next_vid">
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
												 width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
												<polyline fill="#bebebe" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 "/>
											</svg>
										</div>
									</div>
								</div>
							</div>
							<div class="sidebar_section_content">

								<!-- Sidebar Slider -->
								<div class="sidebar_slider_container">
									<div class="owl-carousel owl-theme sidebar_slider_vid">

										<!-- Newest Videos Slider Item -->
										<div  id="locationbase" class="owl-item inner">
											<!-- Newest Videos Post dyanamic Data -->


										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row row-lg-eq-height">
				<div class="col-lg-9 order-lg-1 order-2">
					<div class="footer_content">
						<div class="footer_logo"><a href="#">E-News</a></div>
						<div class="footer_social">
							<ul>
								<li class="footer_social_facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li class="footer_social_twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li class="footer_social_pinterest"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								<li class="footer_social_vimeo"><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
								<li class="footer_social_instagram"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li class="footer_social_google"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
							</ul>
						</div>
						<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved </div>
					</div>
				</div>

			</div>
		</div>
	</footer>
</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="/stylesheets/bootstrap4/popper.js"></script>
<script src="/stylesheets/bootstrap4/bootstrap.min.js"></script>
<script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="/plugins/jquery.mb.YTPlayer-3.1.12/jquery.mb.YTPlayer.js"></script>
<script src="/plugins/easing/easing.js"></script>
<script src="/plugins/masonry/masonry.js"></script>
<script src="/plugins/masonry/images_loaded.js"></script>
<script src="js/custom.js"></script>
<script src="js/location.js"></script>
</body>
</html>
